# Required for local time to be written to db
TZ=Europe/Vilnius

# Influxdb init ENV
INFLUXDB_USERNAME=admin
INFLUXDB_PASSWORD=pass
INFLUXDB_ORG=org
INFLUXDB_BUCKET=fitbit
INFLUXDB_URL="http://localhost:8086"

